/* ****** reset css ****** */
html * {
box-sizing: border-box;
}
body {
    margin : 0;
    padding:0;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

/* ************************** */
/* ****** mise en page ****** */
/* ************************** */

header {
    display:flex;
    align-items: center;
    height: 60px;
    padding:10px 60px;
    background-color: #000;
    color: #fff;
}
header h1 {
    margin-left:auto;
}
header img {
    margin-left:20px;
    height: 40px;
}

div[id="container"] {
    display:flex;
    flex:1;
}

div[id="game"] {
    flex:1;
}

/* --------------- keyboard ------------- */

div[id="keyboard"] {
    display:flex;
    flex-direction: column;
    align-items: center;
}

div[id="keyboard"] .letter {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    margin:4px;
    border:1px solid gray;
    background-color: #f1f1f1;
    border-radius:6px;
    transition: .05s all ease-in-out;
}

div[id="keyboard"] .letter:hover {
    cursor:default;
}

div[id="keyboard"] .letter.active:hover {
    cursor:pointer;
    transform:scale(1.15);
    border:1px solid #000;
    background-color: #e4e4e4;
}

div[id="keyboard"] .letter.notfind {
    background-color: #f1b3b3;
}

div[id="keyboard"] .letter.find {
    background-color: #b3f1bd;
}

div[id="part"] {
    width:400px;
}

/* --------------- mot à trouver ------------- */

div[id="word-location"] {
    margin: 100px 0;
    display: flex;
    justify-content: center;
 }
div[id="word-location"] span.letter {
    display:inline-block;
    text-align:center;
    font-size:40px;
    font-weight:700;
    width: 60px;
    height: 60px;
    border-bottom:2px solid #000;
    margin:4px;
    line-height: 60px;
}

/* --------------- pendu ------------- */
div[id="hanged"] img {
    width:90%;
    display:block;
    margin:0 auto;
}

/* --------------- résultat ------------- */
div[id="result"] {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
div[id="result"]  {
    font-size:40px;
    font-weight: 700;;
}

div[id="result"] .win {
    color : rgb(0, 179, 24);
}

div[id="result"] .loose {
    color : red;
}